/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --color-subHeading: #353430;
  --accent-color-transparent: rgba(53, 52, 48, 0.4);
  --color-title: #ffc2e6;
  --color-text: #353430;
}

.rec-badge {
  display: none;
}

.rec-badge::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --color-subHeading: #353430;
    --accent-color-transparent: rgba(53, 52, 48, 0.4);
    --color-title: #ffc2e6;
    --color-text: #353430;

    .rec-badge {
      display: none;
    }

    .rec-badge::after {
      display: none;
    }
  }
}
