/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-bottom: 30px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  width: 25px;
  border-top: 2px solid var(--menu-color);
  border-right: 2px solid var(--menu-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0px;
  height: 25px;
  width: 25px;
  border-bottom: 2px solid var(--menu-color);
  border-left: 2px solid var(--menu-color);
}

.rec-badge {
  position: relative;
  justify-self: end;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--accent-color);
  right: 28px;
}

.rec-badge::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--accent-color);
  border-radius: 50%;
  align-self: center;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-top: -60px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  color: var(--menu-color);
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:active {
  text-transform: uppercase;
  color: var(--menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-color);
}

.title {
  font-family: var(--font-base);
  justify-self: center;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  line-height: 83%;
}

.subtitle__text {
  justify-self: center;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-subtitle);
}

.title-decor {
  background-color: var(--accent-color);
  height: fit-content;
}

.title__spaced {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section {
  display: grid;
  margin-bottom: 50px;
}

.section__title {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-subHeading);
}

.card__title {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-subtitle);
}

.card__text {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text);
}

.card__subtitle {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-subtitle);
}

.card__subtitle-decor {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link__text {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.link__text:hover {
  text-decoration: underline;
}

.link__text:focus {
  outline: none;
}

.link__text:focus-visible {
  outline: 1px solid var(--color-text);
}

.image {
  width: 100%;
  margin-bottom: 6px;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 667px;
  display: grid;
  margin-top: 40px;
}

.footer__title {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
  margin-top: -20px;
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .header {
    grid-template-rows: min-content 1fr 1fr 1fr;
    min-height: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-top: 55px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: start;
    justify-self: start;
    margin-left: -20px;
    margin-top: 85px;
  }

  .subtitle__block {
    justify-self: end;
    width: 364px;
    margin-top: 13px;
  }

  .decorated-zone::before {
    top: 0px;
    right: 0px;
    border-top: 1px solid var(--menu-color);
    border-right: 1px solid var(--menu-color);
  }

  .decorated-zone::after {
    bottom: 40px;
    left: 0px;
    border-bottom: 1px solid var(--menu-color);
    border-left: 1px solid var(--menu-color);
  }

  .section {
    margin-bottom: 80px;
  }

  .section__inline {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 1fr;
  }

  .section__title-inline {
    grid-column: 1/1;
    margin-top: 10px;
  }

  .card__inline {
    grid-column: 2/2;
    margin-left: 20px;
  }

  .section__title-block {
    width: 236px;
  }

  .card-inline {
    margin-top: -10px;
  }

  .section__title-end {
    margin-top: 0;
  }

  .subtitle__end {
    margin-top: 0px;
  }

  .card__subtitle-decor {
    margin-top: -50px;
  }

  .gallery {
    height: 823px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  .gallery__title {
    grid-column: 1/-1;
  }

  .gallery__images {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 20px;
  }

  .image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image__sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .image__ice {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .image__tape {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .image__book {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .image__street {
    grid-column: 2/4;
    grid-row: 3/5;
  }

  .footer {
    margin-top: 100px;
    height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
    margin-top: -40px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 768px;
  }

  .header__theme-menu {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    align-self: start;
    margin-top: -2px;
    margin-right: -115px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .rec-badge {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    text-align: center;
    right: 28px;
  }

  .title {
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: start;
    justify-self: start;
    margin-top: 45px;
    margin-left: -20px;
  }

  .subtitle__block {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: end;
    width: 491px;
    margin-top: 30px;
  }

  .subtitle__text {
    justify-self: start;
  }

  .section__inline {
    grid-template-columns: 315px 1fr;
    grid-template-rows: 1fr;
  }

  .section__title-block {
    width: 315px;
  }

  .section__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .card__subtitle-decor {
    margin-top: -27px;
  }

  .footer {
    margin-top: 368px;
    height: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
    margin-top: -40px;
  }
}
