/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --menu-color: rgb(255, 0, 112);
  --color-subHeading: #ff0070;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --font-base: "IBM Plex Mono", "Courier New", monospace;
  --color-title: #db00ff;
  --color-subtitle: #353430;
  --color-text: #f1b2ce;
  --background-color: rgb(0, 0, 40);
}
